body{
    margin:0px;
    padding:0px;
    background-color: whitesmoke;
}
.header{
    width: 100%;
    background: white;
    height: 80px;
}  
.logo {
    width: 120px;
    height: 100%;
    display: inline-block;  
    position: relative;
    margin: auto 0px auto 35px;
}
.logo-picture{
    position: relative;
    top:calc(50% - 20px);
}
.guide{
    width:400px;
    height: 100%;
    display: inline-block;
    vertical-align: top;
}
.index{
    width:160px;
    height:100%;
    display: inline-block;
    text-align: center;
}
.header_font{
    font-size: 20px;
    text-decoration:none;
    line-height: 80px;
    margin-left: -40px;
}
.sy{
    color: red;
}
.flck{
    color: dimgray;
}
.search{
    width:450px;
    height: 80px;
    display: inline-block;
    vertical-align: top;
    font-size: 0;
}
/*.inputxe{
    width: 272px;
    height: 80px;
    display: inline-block;
    vertical-align: top;
}*/
.search-input{
    border:red 2px  solid;
    width: 266px;
    height: 34px;
    box-sizing: border-box;
    vertical-align: top;
    position: relative;
    top: calc(50% - 17px);
}
/*.buttonxe{
    width:80px;
    margin: 0px;
    padding: 0px;
    height:100%;
    display: inline-block;
} */
.search-button{
    width:80px;
    height:34px;
    /*margin: 0px;
    padding: 0px;*/
    display: inline-block;
    position: relative;
    top:calc(50% - 17px);
    background-image: url("http://p1.bqimg.com/4851/527ea2d653366686.png");
    border-style: none;
}
/*.login{
    width: 90px;
    height: 100%;
    display: inline-block;
    vertical-align: top;
}*/
.dlzc{
    width: 90px;
    height: 34px;
    padding: 0px;
    display: inline-block;
    position: relative;
    background-color: #1dc091;
    color: white;
    vertical-align: top;
    top:calc(50% - 17px);
    font-size: 14px;
    border-style: none;
}
.main{
    width: 1001px;
    margin: 0 auto;
    /*height:700px;*/
    /*background-color: whitesmoke;*/
}
.banner{
    width: 100%;
    height: 350px;
    display: block;
    position: relative;
    /*left:calc(50% - 500px)*/
}
.bannerpicturebox{
    width: 100%;
    height: 350px;
    display: block;
    position: relative;
    margin: 0 auto;
}
.rightbox_one{
    background-color:white;
    border-radius: 12px 12px 12px 12px;
    height: 12px;
    width: 12px;
    bottom: 15px;
    right: 30px;
    position: absolute;
}
.rightbox_two{
    background-color:white;
    border-radius: 12px 12px 12px 12px;
    height: 12px;
    width: 12px;
    right: 55px;
    bottom: 15px;
    position: absolute;
}
.wrap{
    width: 100%;
    height: 350px;
    font-size: 0;
}
.list{
    width: 25%;
    height: 100%;
    background-color: white;
    display: inline-block;
    vertical-align: top;
}
.circle{
    width: 90px;
    height: 90px;
    background-color: white;
    border: 2px  #1dc091 solid;
    -webkit-border-radius: 100px;
    margin: 0 auto;
    margin-top: 10%;
    text-align: center;
    line-height: 90px;
    font-size: 36px;
    color: #1dc091;
    font-family: "PingFang SC";
    font-weight: lighter;
}
.hideline{    
    display: block;
    border-right: 2px solid #eeeeee;  /*  bug  */
}
.hideline4{
    display: block;
}
.h1{
    color: #5c5c5c;
    font-size: 14px;
    margin: 0 auto;
    width: 54%;
}
/*.h2{
    color: #5c5c5c;
    font-size: 14px;
}
.h3{    
    color: #5c5c5c;
    font-size: 14px;    
}*/
.h{
    /*margin: 5px 50px 0 50px; */
    font-size:16px;
    width: 70%;
    line-height:20px;
    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    color: #5c5c5c;
    text-decoration:none;
    margin: 0 auto;
}
.hl{
    width: 80%;
    margin: 0 auto;
}
a:hover{
    color: red;
}
div.h1:hover{
    color: red;
}
div.h2:hover{
    color: red;
}
div.h3:hover{
    color: red;
}
.light{
    width: 24px;
    height: 24px;
    color: #1dc091;
    border: 2px solid;
    border-radius: 50%;
    font-weight: lighter; /* bug */
    border-width: 1px;
    margin: 20px auto;
    text-align: center;
    line-height: 30px;
    font-size: 36px;
}
/*.listB{
    width: 25%;
    height: 100%;
    background-color: white;
    display: inline-block;
    vertical-align: top;
}*/
/*.circleB{
    width: 90px;
    height: 90px;
    background-color: white;
    border: 2px  #1dc091 solid;
    -webkit-border-radius: 100px;
    margin: 0 auto;
    margin-top: 10%;
    text-align: center;
    line-height: 90px;
    font-size: 36px;
    color: #1dc091;
    font-family: "PingFang SC";
    font-weight: lighter;
}*/
/*.listC{
    width: 25%;
    height: 100%;
    background-color: white;
    display: inline-block;
}*/
/*.circleC{
    width: 90px;
    height: 90px;
    background-color: white;
    border: 2px  #1dc091 solid;
    -webkit-border-radius: 100px;
    margin: 0 auto;
    margin-top: 10%;
    text-align: center;
    line-height: 90px;
    font-size: 36px;
    color: #1dc091;
    font-family: "PingFang SC";
    font-weight: lighter;
}*/
/*.listD{
    width: 25%;
    height: 100%;
    background-color: white;
    display: inline-block;
}*/
/*.circleD{
    width: 90px;
    height: 90px;
    background-color: white;
    border: 2px  #1dc091 solid;
    -webkit-border-radius: 100px;
    margin: 0 auto;
    margin-top: 10%;
    text-align: center;
    line-height: 90px;
    font-size: 36px;
    color: #1dc091;
    font-family: "PingFang SC";
    font-weight: lighter;
}*/
.footer{
    padding: 2px ;
    width: 100%;
    /*height: 500px;*/
    background-color: whitesmoke;
}
.sentenceA{
    height: 150px;
    text-align: center;
    background-color: white;
    box-sizing: border-box;
    padding: 50px 350px;
}
.sentenceB{
    box-sizing: border-box;
    height: 250px;
    text-align: center;
    background-color: white;
    padding: 50px 350px 150px 350px;
}
.s1{
    font-size: 18px;    
    color: #333333;
    font-family: "PingFang SC";
}
.s2{
    font-size: 12px;
    color: #1dc091;
}