body{
    margin:0px;
    padding:0px;
}
.header{
    width: 100%;
    margin: 0 auto;
    background: white;
    height:80px;
}
.logo {
    width: 120px;
    height: 80px;
    display: inline-block;
    position: relative;
    left: 45px;
}
.logo-picture{
    position: relative;
    top:50%;
    left:50%;
    margin-top:-40px;
    margin-left:-50px;
}
.guide{
    width:400px;
    height: 80px;
    display: inline-block;
    vertical-align: top;
}
.index{
    width:160px;
    height:80px;
    display: inline-block;
    text-align: center;
}
.header_font{
    font-size: 20px;
    text-decoration:none;
    line-height:80px;
}
.sy{
    color: red;
}
.flck{
    color: dimgray;
}
.search{
    width:390px;
    height: 80px;
    display: inline-block;
    vertical-align: top;
}
.inputxe{
    width: 267px;
    height: 80px;
    display: inline-block;
}
.search-input{
    border:red 2px solid;
    width: 266px;
    height: 30px;
    display: inline-block;
    position: relative;
    top:calc(50% - 26px);
}
.buttonxe{
    width:50px;
    height:80px;
    display: inline-block;
}
.search-button{
    width:80px;
    height:34px;
    display: inline-block;
    position: relative;
    top:calc(50% - 17px);
}
.picture{
    width:50px;
    height:80px;
    display: inline-block;
}
.search-picture{
    width:80px;
    height:34px;
    display: inline-block;
    position: relative;
    top:calc(50% - 13px);
    left: -55px;
}
