.body{
    margin:0px;
    padding:0px;
}
.header{
    width: 100%;
    margin: 0 auto;
    background: white;
    height:80px;
}
.logo {
    width: 100px;
    height: 80px;
    display: inline-block;
}
.logo-picture{
    position: relative;
    top:50%;
    left:50%;
    margin-top:-40px;
    margin-left:-50px;
}
.guide{
    width:305px;
    height: 80px;
    display: inline-block;
    vertical-align: top;
}
.index{
    width:100px;
    height:80px;
    display: inline-block;
    text-align: center;
}
.header_font{
    font-size: 20px;
    text-decoration:none;
    line-height:80px;
}
.sy{
    color: red;
}
.flck{
    color: dimgray;
}
